  <div id="header">
    <div class="logo"><a class="streamsPhotos" href="/"><img src="/images/index_01.png" width="309" height="89"></a></div>
    <div class="header_bg">
      <div id="menu"><ul>
        <li><a href="https://www.facebook.com/streams.tw"><img src="/images/icon_f.png" width="20" height="20"></a></li>
        <li><a href="http://blog.streams.tw/"><img src="/images/icon_t.png" width="21" height="20"></a></li>
        <li><a href="mailto:info@streams.tw"><img src="/images/icon_m.png" width="19" height="19"></a></li>
        <li><a href="/index_ok.html#">繁體中文</a></li>
        <li><a href="/index_ok.html#">簡體中文</a></li>
        <li><a href="/index_ok.html#">English</a></li>
        <li><a href="http://ntu.streams.tw/">視差捲軸網頁體驗 </a></li>

      </ul></div>
    </div>
    <div class="header_icon"><a href="http://ntu.streams.tw/"><img src="/images/index_03.png" width="81" height="89"></a></div>
  </div>


  <div id="nav_bg">

    <div id="nav_left">
      <div class="logo_s"><img src="/images/index_04.png" width="248" height="42"></div>

      <div id="nav">
        <ul><li><a href="/streams/about">關於荒漠甘泉</a></li>
          <li><a href="/streams/menu">極品美饌</a></li>
          <li><a href="/streams/photos">餐廳實景</a></li>
          <li><a href="/streams/stores">分店介紹＆預約</a></li>
          <li><a href="/streams/what_we_do">看見荒漠甘泉</a></li></ul>
      </div>
    </div>
  </div>
