<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="wrapper">
  <%= render :partial => 'streams/header' %>
  <div class="photo_main">
    <div class="content_left" style="float:left;"><img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo"><img src="/images/banner_about.jpg" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title_about"><img src="/images/content_title_about.jpg" width="793" height="110"></div>
        <div class="about_out">
          <span class="photo_s_title">餐廳元素</span>
          <div class="about_p">裝潢以原木與彩繪玻璃的架構組成，將東方與西方的建築精華完全呈現。荒漠甘泉堅信音樂可洗滌心靈累積的塵埃，因此餐廳內有黑膠唱片牆、頂級音響與DJ廣播員，讓您感受舌尖味蕾與心靈音籟的雙重饗宴。</div>
          <span class="photo_s_title">創辦人的心聲</span>
          <div class="about_p">「當社會逐漸物化，台北被盲求名利私慾橫行的沙漠掩埋時，我們期盼能提供您一股清流甘
            泉。 」</div>
          <span class="photo_s_title">願景</span>
          <div class="about_p"> 在台灣開設100家音樂與音響，養生與愛心的主題店。</div>
        </div>
      </div>
    </div>


  <%= render :partial => 'streams/footer' %>
</div>


</body>