<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="wrapper">
  <%= render :partial => 'streams/header' %>
  <div class="photo_main">
    <%= render :partial => 'streams/left' %>

    <div class="content_right" style="float:right">
      <div class="content_banner_photo"><img src="/images/banner_about.jpg" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title_about"><img src="/images/menu_03.jpg" width="793" height="117"></div>
        <div class="menu_out"> <div class="word_big_title">
          <p>田園交響曲</p>
          <p class="word_big_title">$480     $580      $680</p>
        </div>
          <div class="word_title_apace_center"> 醋飲</div>
          <p class="word_pp_space">養生醋飲</p>
          <div class="word_title_apace_center"> 醋飲</div>
          <p class="word_pp_space">養生醋飲</p>
        </div>

      </div>
      <span class="content_title_about"><img src="/images/menu_08.jpg" width="793" height="137"></span> </div>
  </div>
    <%= render :partial => 'streams/footer' %>
</div>


</body>