<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="wrapper">
  <%= render :partial => 'streams/header' %>

  <div class="photo_main">
    <div class="content_left" style="float:left;"><img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo"><img src="/images/banner_add.jpg" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title_about"><img src="/images/content_title_add.jpg" width="793" height="110"></div>
        <div class="about_out_no_bg">

          <div class="add_left"></div>
          <div class="add_right"><span class="photo_s_title">餐廳主題</span>
            <div class="about_p">
              提供無國界料理、充滿生命元素的音樂餐廳
            </div>
            <span class="photo_s_title">餐廳資訊</span>
            <div class="about_p">
              <span class="word_title">大學口店</span> 台北市羅斯福路三段316巷18號<br>
              <span class="word_title">服務電話</span> (02)2365-6288<br>
              <span class="word_title">營業時間</span> 11:30 ~ 14:30 /
              5:30  ~ 21:30
            </div>
            <span class="photo_s_title">交通資訊</span>
            <div class="about_p">
              捷運公館站4號出口直走，在台大校門口的巷口左轉。
            </div>
            <span class="photo_s_title">網路預約/訂位</span>
            <div class="about_p">
              建置中</div>
            <div>
              <p><img src="/images/add_map.jpg" width="640" height="533" border="1"></p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <%= render :partial => 'streams/footer' %>
</div>


</body>