<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="wrapper">
  <%= render :partial => 'streams/header' , :locals => { :page => 'what' }%>

  <div class="photo_main">
    <div class="content_left" style="float:left;"><img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo"><img src="/images/banner_whatwedo.jpg" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title_about"><img src="/images/content_title_see.jpg" width="793" height="110"></div>
        <div class="about_out">

          <div class="add_left"></div>
          <div class="add_right"><span class="photo_s_title">社會回饋</span>
            <div class="about_p">
              荒漠甘泉將您消費金額的10分之1，捐給需要幫助的團體。<br>
              我們的愛心有您的一同參與，讓社會能更加的溫暖。
            </div>
            <span class="photo_s_title">每日一書推薦 </span>
            <div class="about_p">
              文字待提供
            </div>
            <span class="photo_s_title">每日一物義賣 </span>
            <div class="about_p">
              文字待提供
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <%= render :partial => 'streams/footer' %>
</div>


</body>